# IDEs
.vscode/*

# Compiled object files
bin/*
*.o

# Individual files
gmon.out

# Build directory
build/

# Executables
othello

# OS-specific files
.DS_Store

# Editor/IDE files
*.swp
*.swo
*.vscode/