# IDEs
.vscode/*

# Compiled object files
bin/*
*.o

# Build directory
build/
build-coverage/
Testing/
coverage-report/

# OS-specific files
.DS_Store

# Editor/IDE files
*.swp
*.swo
*.vscode/

# My own
docs/mynotes/*
